app-login {

}

$white-color: #fff;
$height100: 100%;

ion-grid {
  width:100%;
  height: $height100;
  background: #dfdfdf;

}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

.gridBack {
  background: linear-gradient(to bottom right, #33ccff, #ff99cc);
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: none;
  }
  ion-col {
    border: none;
  }
}
